/*nosotros*/

.parrafo__inicio {
    font-size: 20px;
    text-align: center;
    color: beige;

}

.titulo {
    color: khaki;
    text-align: center;
    margin: 15px;
}


.imagen__pagnosotros {
    float: left;
    margin-right: 20px;


}

.titulo__parrafo {
    color: beige;
    font-weight: bold;


}