/*footer*/

.footer {
    width: 100%;
    justify-content: flex-start;
   
    .footer__titulo {
            color: $color-texto;
            text-align: end;
            font-size: 10px;
    
    
        }

     .footer__subtitulo {
            color: $color-texto;
            font-size: 20px;
    
        }
    
      .iconos {
            display: flex;
    
        }
      .iconos i {
            padding-left: 10px;
        }

     .footer__contacto {
            margin: 5px;
        }

        .main__imagen2 {
    width: 500px;
    height: 500px;
}

}



