

.footer {
width: 100%;
justify-content: flex-start;

.footer__titulo {
color: $color-texto;
text-align: end;
font-size: 20px;



}

.footer__subtitulo {
color: $color-texto;
font-size: 20px;



}
    
.redes__sociales {
display: flex;


}

.facebook {
padding-left: 10px;

&:hover {
/*-webkit-transform: rotate(360deg);*/
transition: all 2s;

}


}

.instagram  {
padding-left: 10px;


&:hover {
/*-webkit-transform: rotate(360deg);*/
transition: all 2s;


}

}

.whatsapp{  
padding-left: 10px;

&:hover{
/*-webkit-transform: rotate(360deg);*/
transition: all 2s;

}
}



.footer__contacto {
margin: 5px;

}

.enlase__contacto   {
color:darkorange;
}

.main__imagen2 {
width: 500px;
height: 500px;
}

}

/*Declarando mapa*/

$redes: (
    facebook: blue,
    instagram: blueviolet,
    whatsapp: green,
);

/*each y mapas*/

@each $clave, $valor in $redes {
    .btn-#{$clave} {
        background-color: $valor;

    }

}


