

.footer {
width: 100%;
justify-content: flex-start;
background: #6A9113;
background: -webkit-linear-gradient(to right, #141517, #6A9113);
background: linear-gradient(to right, #141517, #6A9113);
;
}


.footer__titulo {
color:orange;
font-size: 20px;
margin: 5px;
}

.footer__subtitulo {
color:chartreuse;
margin: 5px;
margin-bottom: 0px;


}

.logo {
width: 100px;
height: 100px;
float: right;
margin: 50px 50px 50px;
margin-bottom: 0px;
}
    
.redes__sociales {
display: flex;
color:$color-texto;
}

.facebook {
padding-left: 10px;

&:hover {
transform: rotate(360deg);
transition: all 2s;

}


}

.instagram  {
padding-left: 10px;


&:hover {
transform: rotate(360deg);
transition: all 2s;


}

}

.whatsapp{  
padding-left: 10px;

&:hover{
transform: rotate(360deg);
transition: all 2s;

}
}

.footer__contacto {
margin: 5px;
color:orangered;

}

.enlase__contacto   {
color:darkorange;
}

.main__imagen2 {
width: 500px;
height: 500px;
}



/*DECLRANDO MAPAS*/

$redes: (
    facebook: blue,
    instagram: blueviolet,
    whatsapp: green,
);

/*EACH Y MAPAS*/

@each $clave, $valor in $redes {
    .btn-#{$clave} {
        background-color: $valor;

    }

}


