/*galeria*/
.grid {

    border: 0px;
    min-height: auto;
    max-width: 50%;
    margin: 0 auto;
    gap: 10px 10px;


    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(3 1fr);
    grid-template-areas:
        "ele1 ele2 ele2"
        "ele3 ele3 ele4"
        "ele5 ele6 ele4";
   

    .grid__hijo {
    
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
    
        }
    
      .grid__imagen {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

      .grid__hijo--1 {
            grid-area: ele1;
            display: flex;
    
        }

      .grid__hijo--2 {
            grid-area: ele2;
        }

      .grid__hijo--3 {
              grid-area: ele3;
             
            }
    
     .grid__hijo--4 {
             grid-area: ele4;
        
           }

    .grid__hijo--5 {
            grid-area: ele5;
    
        }
    
     .grid__hijo--6 {
            grid-area: ele6;
    
        }
}



