*  {
padding: 0px;
margin: 0px;
box-sizing: 0px;
}

body {
background-color: $color-principal;

}

.color {
color: beige !important;
}

.header {
color: white;
background: #6A9113;
background: -webkit-linear-gradient(to right, #141517, #6A9113);
background: linear-gradient(to right, #141517, #6A9113);

.titulo__principal {
color: $color-texto;
}

.nav {
display: flex;
justify-content: flex-end;
background: #6A9113;
background: -webkit-linear-gradient(to right, #141517, #6A9113);
background: linear-gradient(to right, #141517, #6A9113);

.nav__lista {
list-style: none;
display: flex;
flex-direction: row;
justify-content: flex-end;


}
.nav__item {
list-style: none;
display: inline-flex;
font-size: 30px;

}

.nav__enlase {

text-decoration: none;
color: $color-texto;
padding: 10px;
}

}

}

.presentacion {
text-align: center;
font-size: 30px;
color:orange;
}


.presentacion__subtitulo {
color: $color-texto;
text-align: center;

}


main p {
color: $color-texto;
}

.parrafo{    
font-weight: bold;
}

.carousel-item img {
object-fit:cover;
padding: 20px 20px 20px 20px;
height: 45vw;
overflow: hidden;

}

.historia__tati {
margin: 20px;
border: solid 2px khaki;
}

.card-title{    
font-weight: bold;
}

.card-text  {
font-weight: bold;
}


