/*nosotros*/

.parrafo__inicio {
    font-size: 20px;
    text-align: center;
    color: $color-texto;

}

.titulo {
    color: khaki;
    text-align: center;
    margin: 15px;
}


.imagen__pagnosotros {
    float: left;
    margin-right: 20px;
    margin-top: 10px;


}


.titulo__parrafo {
    color: $color-texto;
    font-weight: bold;


}