/*preguntas frecuentes*/
.preguntas {
    color: beige;
    margin: 0px;
    font-weight: bold;

.preguntas__respuestas {
            margin: 0px;
            color: beige;
            font-weight: bolder;
    
        }
}
