/*preguntas frecuentes*/
.preguntas {
    color: $color-texto;
    margin: 0px;
    font-weight: bold;

.preguntas__respuestas {
            margin: 0px;
            color: $color-texto;
            font-weight: bolder;
    
        }
}

.contenido__principal   {
    height: 100%;

}

